/* Estils generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    color: #2c3e50;
}

/* Capçalera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 20px;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Cotxes destacats */
.featured-cars {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #ecf0f1;
}

.car-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-card img {
    width: 100%;
    border-radius: 8px;
}

.car-card h3 {
    margin-top: 15px;
}

.car-card p {
    margin: 10px 0;
    color: #7f8c8d;
}

.car-card a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}



/* Peu de pàgina */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}


.logo-navbar{
    height: 50px;
}

.my-navbar{
    background: linear-gradient(#000000, #000000);
}

.my-navbar {

    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  /* Enlaces blancos */
  .my-navbar .nav-link,
  .my-navbar .navbar-brand,
  .my-navbar .dropdown-toggle {
    color: white !important;
  }
  
  /* Hover en enlaces */
  .my-navbar .nav-link:hover,
  .my-navbar .dropdown-toggle:hover {
    color: #f0f0f0 !important;
  }
  

#suggestions {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
}

#suggestions a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

#suggestions a:hover {
    background-color: #f8f9fa;
}